* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    background-color: aqua;
    margin: 0 auto;
    padding: 30px;
}

.containerSection {
    width: 800px;
    margin: 0 auto;
    background-color: chocolate;
    margin: 20px auto;
    color: white;
}

.containerSection h1 {
    text-align: center;
    color: white;
}

.karobka {
    width: 200px;
    height: 200px;
    background-color: black;
}

.row {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.karobka {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}